*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 300px;
    min-height: 10px;
    padding: 5%;
   
    
    background-size:cover ;
}
.search-bar{
    width: 800px;
    max-width: 190px;
    align-items: center;
    display: flex;
 
    background-color:yellow;
   
}
img{
    width: 14px;
    align-items: center;
    background-color: black;
}